{% extends "base.html" %}

{% block head %}
  <title>DLTS Objects - Books, Maps and Photos</title>
  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <style>
    p.title {
      margin-top: 1em;
      margin-bottom: 1em;
    }
    img.thumb {
      height: 70px;
    }
    .text-truncate {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .btn-reset {
      padding-left: .3em;
    }
    .top-container {
      margin-top: 2em;
    }
  </style>
{% endblock %}

{% block content %}
<section class="section">
  <div class="container top-container">
    <div class="row">
      <div class="col-auto">
        <label for="collectionslist" class="form-label">Filter by collection</label>
        <div class="input-group">
          <input class="form-control" data-identifier="{{dataList.identifier}}" value="{{dataList.label}}" list="collectionslistOptions" id="collectionslist" placeholder="Type to search...">
          <datalist id="collectionslistOptions">
            {% for item in collections %}
              <option data-identifier="{{item.identifier}}" value="{{item.title}} - {{item.partners[0].name}}">
            {% endfor %}
          </datalist>
          <div class="input-group-append btn-reset">
            <button id="button-rst" class="btn btn-outline-secondary" type="button">Reset</button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-auto">
            <p>Filter by type:</p>
          </div>
          <div class="col-auto">
            <div class="form-check form-switch">
              <input id="filter-books" class="form-check-input" type="checkbox" role="switch" {% if filter.books %}checked{% endif %}>
              <label class="form-check-label" for="filter-books">Books</label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check form-switch">
              <input id="filter-photos" class="form-check-input" type="checkbox" role="switch" {% if filter.photos %}checked{% endif %}>
              <label class="form-check-label" for="filter-photos">Photos</label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check form-switch">
              <input id="filter-maps" class="form-check-input" type="checkbox" role="switch" {% if filter.maps %}checked{% endif %}>
              <label class="form-check-label" for="filter-maps">Maps</label>
            </div>
          </div>
        </div>
        <br>
        {% if items %}
          {% include 'results.html' %}
        {% endif %}
      </div>
    </div>
  </div>
  <script>

    const urlpath = `${window.location.origin}${window.location.pathname}`

    const filterByCollection = document.querySelector('#collectionslist')

    const filterByBooks = document.querySelector('#filter-books')

    const filterByMaps = document.querySelector('#filter-maps')

    const filterByPhotos = document.querySelector('#filter-photos')

    filterByBooks.onchange = filterByMaps.onchange = filterByPhotos.onchange = () => {
      const currentPage = document.querySelector('#current-page')
      let page = 1
      if (currentPage) {
        page = currentPage.dataset.current
      }
      window.location.href = `${urlpath}?collection=${filterByCollection.dataset.identifier}&books=${filterByBooks.checked}&maps=${filterByMaps.checked}&photos=${filterByPhotos.checked}`
    }

    filterByCollection.addEventListener('input', (e) => {
      const input = e.target
      const val = input.value
      const list = input.getAttribute('list')
      const options = document.getElementById(list).childNodes
      for (let i = 0; i < options.length; i++) {
        if (options[i].value === val) {
          const currentPage = document.querySelector('#current-page')
          let page = 1
          if (currentPage) {
            page = currentPage.dataset.current
          }
          window.location.href = `${urlpath}?collection=${options[i].dataset.identifier}&books=${filterByBooks.checked}&maps=${filterByMaps.checked}&photos=${filterByPhotos.checked}`          
          break
        }
      }
    })

    document.querySelector('#button-rst').onclick = (e) => {
      e.preventDefault()
      window.location.href = urlpath
    }

  </script>
</section>
{% endblock %}
