{% extends "base.html" %}

{% block head %}
  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <style>
    p.title {
      margin-top: 1em;
      margin-bottom: 1em;
    }
    img.thumb {
      height: 70px;
    }
    .text-truncate {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  </style>  
{% endblock %}

{% block content %}
<section class="section">
  <div class="container" style="margin-top: 2em;">    
    <div class="row">
      <div class="col">
        <div class="input-group">
          <select id="filter-by-collection" class="form-select" aria-label="Filter by collection">
            <option value="*">--- All resources ---</option>
            {% for item in collections %}
              <option value="{{item.identifier}}"{% if item.selected %} selected{% endif %}>{{item.title}} - {{item.partners[0].name}}</option>
            {% endfor %}
          </select>
          <div class="input-group-append" style="padding-left: .3em;">
            <button id="button-rst" class="btn btn-outline-secondary" type="button">Reset</button>
          </div>
        </div>
        <br>
        <table aria-labelledby="resources-table" class="table table-bordered table-striped table-hover is-fullwidth">
          <thead>
            <tr>
              <th>Cover</th>
              <th style="color: #17a2b8">Title</th>
              <th>Type</th>
              <th>Collections</th>
              <th>Partners</th>
            </tr>
          </thead>
          <tbody>
            {% for item in items %}
            <tr role="row">
              <td aria-colindex="1" role="cell" data-noid="{{item.noid}}"><img class="thumb" loading="lazy" src="{{endpoint}}/api/image/{{item.type}}/{{item.identifier}}/1/full/70,/0/default.jpg" height="70px" alt="" title="{{item.title}}"></td>
              <td aria-colindex="2" role="cell" class="title"><a href="{{appRoot}}/{{item.noid}}" data-identifier="{{item.identifier}}">{{item.title}}</a></td>          
              <td aria-colindex="3" role="cell" class="has-text-centered">{{item.type}}</td>
              <td aria-colindex="4" role="cell" class="has-text-centered" title="{{item.collections.code}}">{{item.collections.label}}</td>
              <td aria-colindex="5" role="cell" class="has-text-centered" title="{{item.partners.code}}">{{item.partners.label}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% include 'pagination.html' %}
      </div>
    </div>
  </div>

  <script>
    document.querySelector('#filter-by-collection').onchange = (e) => {
      e.preventDefault()
      window.location.href = `${window.location.origin}?collection=${e.currentTarget.value}`
    }
    document.querySelector('#button-rst').onclick = (e) => {
      e.preventDefault()
      window.location.href = window.location.origin
    }    
  </script>
</section>
{% endblock %}
